<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>

</head>
<body>
<script>
    ip = location.host;
    ws = new WebSocket('ws://'+ip+'/ws');
    ws.onmessage = function (event) {
        $("h1").text(event.data)

    };
    function noty() {
        Notification.requestPermission(function (permision) {
        var notification = new Notification('hi', {'body':'!!!'})
        })
    }


</script>

<h1 onclick="noty()"> welcome</h1>

<button onclick="noty()">noty!</button>

<p>

</p>
</body>
</html>